<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feedback</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" href="css/jqcloud.min.css" type="text/css">
</head>
<body data-gr-c-s-loaded="true" class="">
        <div class="container">
            <div class="container">
                <h2>Welcome to the Event Feedback <button style="margin-top:10px;float:right" type="button" class="btn btn-outline-primary" id="closeEvent">Close Event</button></h2>
                <hr>
            </div>
            <div class="row">
                <br><br>
                <div class='cl-sm-12'>
                    <div id='res'></div>
                </div>
            </div>
            <div class="row" style="margin:auto">
                <button type="button" class="btn btn-outline-primary" id="reset">Reset Data</button>&nbsp;
                <button type="button" class="btn btn-outline-primary" id="save">Save Data</button> 
            </div>
        </div>

        <div class="modal fade" role="dialog" id="continueModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Alert</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Welcome to the feedback. Press <b>Continue</b> to start viewing the results!</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="ok-modal">Continue</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal">Close</button>
                </div>
              </div>
            </div>
        </div>

        <div id="footer">
            <div class="col-md-12" style="text-align: center; padding:10px">
                <ul class="social-network social-circle">
                    <li><a href="https://github.com/neo7337" class="icoGithub" title="Github"><i
                                class="fa fa-github"></i></a></li>
                    <li><a href="https://stackoverflow.com/users/5894292/neo73" class="icoStackoverflow"
                            title="Stackoverflow"><i class="fa fa-stack-overflow"></i></a>
                    </li>
                    <li><a href="https://twitter.com/adityak007mr" class="icoTwitter" title="Twitter"><i
                                class="fa fa-twitter"></i></a></li>
                    <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=adityak007mr@gmail.com&su=SUBJECT&body=BODY"
                            class="icoEmail" title="Google +"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/adi-kumar/" class="icoLinkedin" title="Linkedin"><i
                                class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="scripts/jqcloud.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
</html>